section.about-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  min-height: 70vh;
  padding-top: 2rem;

  @media screen and (max-width: $small) {
    padding-top: 0;
  }
}

section.about-view img {
  width: 100%;
}
